<div id="nav">
    <div class="col-sm nav-align"><h1 id="title">Confetti Cuisine</h1></div>
    <div class="col-sm nav-align">
        <a href="/"> <span class="button">Home</span> </a>
        <a href="/courses"> <span class="button">Courses</span> </a>
        <a href="/contact"> <span class="button">Contact</span> </a>
    </div>
</div>
