<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
<title>Confetti Cuisine</title>
<link rel="stylesheet" href="./css/confetti_cuisine.css" />
<script src="./js/confettiCuisine.js" defer></script>