<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') -%>
  </head>

  <body>
    <%- include('./partials/header') -%>

    <div class="container">
      <div class="col-sm-6">
        <img id="myImg" src="./images/graph.png" alt="" width="300" height="200">
        <div id="myModal" class="modal">
          <span class="close">&times;</span>
          <img class="modal-content" id="img01">
          <div id="caption"></div>
        </div>
      <div class="col-sm-6">
        <h1>Reach out to us!</h1>
        <p>Enter your email if you're interested to learn more:</p>
        <form class="contact-form" action="/thanks" method="get">
          <input type="email" name="email" required />
          <input class="button" type="submit" value="submit" />
        </form>
        <p>We'll get back to you soon!</p>
      </div>
    </div>
  </body>
</html>