<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') -%>
  </head>

  <body>
    <%- include('./partials/header') -%>

    <div class="container">
      <div class="col-sm-6">
        <img id="myImg" src="./images/product.jpg" alt="" width="300" height="200">
        <div id="myModal" class="modal">
          <span class="close">&times;</span>
          <img class="modal-content" id="img01">
          <div id="caption"></div>
        </div>
      <div class="col-sm-6">
        <h1 class="title">Learn to cook cutting edge food</h1>
        <h3>Our Courses:</h3>
        <ul>
          <li>Bread Making</li>
          <li>Pasta Milan</li>
          <li>Dark Chocolate Delight</li>
        </ul>
        <a href="/contact">Contact Us</a> today!
      </div>
    </div>
  </body>
</html>