<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') -%>
  </head>

  <body>
    <%- include('./partials/header') -%>

    <div class="container">
      <div class="col-sm-6">
        <img id="myImg" src="./images/people.jpg" alt="" width="300" height="200">
        <div id="myModal" class="modal">
          <span class="close">&times;</span>
          <img class="modal-content" id="img01">
          <div id="caption"></div>
        </div>
      <div class="col-sm-6">
        <h1>Welcome!</h1>
        <p>Please check out all the cool new courses by our innovative and creative chefs.</p>
        <p>
          If you want to see a new course, click the <a href="/courses">courses page</a> and
          explore!
        </p>
        <p>
          When you see a course you like you can
          <a href="/contact">contact us to join!</a> Soon you'll be cooking in your own home.
        </p>
      </div>
    </div>
  </body>
</html>