<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
    <title>Confetti Cuisine</title>
    <link rel="stylesheet" href="/confetti_cuisine.css" />
  </head>

  <body>
    <div id="nav">
      <div class="col-sm nav-align"><h1 id="title">Confetti Cuisine</h1></div>
      <div class="col-sm nav-align">
        <a href="/"> <span class="button">Home</span> </a>
        <a href="/courses.html"> <span class="button">Courses</span> </a>
        <a href="/contact.html"> <span class="button">Contact</span> </a>
      </div>
    </div>

    <div class="container">
      <div class="col-sm-6"><img src="/people.jpg" alt="" /></div>
      <div class="col-sm-6">
        <h1>Welcome!</h1>
        <p>Please check out all the cool new courses by our innovative and creative chefs.</p>
        <p>
          If you want to see a new course, click the <a href="/courses.html">courses page</a> and
          explore!
        </p>
        <p>
          When you see a course you like you can
          <a href="/contact.html">contact us to join!</a> Soon you'll be cooking in your own home.
        </p>
      </div>
    </div>
  </body>
</html>