<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') -%>
  </head>

  <body>
    <%- include('./partials/header') -%>

    <div class="container">
      <div class="col-sm-6">
        <img id="myImg" src="./images/graph.png" alt="" width="300" height="200">
        <div id="myModal" class="modal">
          <span class="close">&times;</span>
          <img class="modal-content" id="img01">
          <div id="caption"></div>
        </div>
      <div class="col-sm-6">
        <h1>Thank you for submitting!</h1>
        <p>Go to <a href="/">home!</a></p>
      </div>
    </div>
  </body>
</html>